.pcsponsor-item {
	width: 220px;
	float: left;
	position: relative;
	margin-right: 2%;
	margin-bottom: 2%;
	height: 315px;
	overflow: hidden;
}

.pcsponsor-content {
	padding: 15px 15px;
	text-align: center;
}

.pcsponsor-item h4 {
	font-size: 14px;
 text-transform: uppercase;
	margin:0;padding:0;
	line-height: 100%;
	text-align: center;
}

.pcsponsor-item p {
	margin: 0;
	font-size: 11px;
}

.pcsponsor-image {
	height: 220px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
 border-radius: 100%;
}

p.pcsponsor-full {
	padding: 5px;
	background: #000;
	color: #fff;
	text-align: center;
	font-weight: bold;
	opacity: .7;
 display:none;
}

ul.pcsponsor-status-buttons {
	text-align: center;
	margin: 2px 0 0;
	padding:0;
	list-style: none;
}

ul.pcsponsor-status-buttons li {
	display: inline-block;
	list-style: none;
	padding:0;
	margin-right: 5px;
	height: 11px;
	width: 11px;
	background: #999;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

ul.pcsponsor-status-buttons li.pcsponsor-taken {
	background: #597FA2; // needs to be selectable from the admin screen
}

ul.pcsponsor-single-status-buttons li {
	margin-top: 10px;
	width: 30px;
	height: 30px;
}

.pcsponsor-single-select {
	border: none;
	background: none;
	padding: 0px;
	text-align: center;
}

.pc-third-view .pcsponsor-fund-form select {
	width: 100%;
}


@media only screen and (max-width: 421px) {
	.pcsponsor-item { width: 100%; height: 430px; }
	.pcsponsor-image { height: 320px;	}
	.pcs-rounded > .info, .pictures { width: 100% !important; }
	.pcs-rounded > .info h1 { font-size: 40px !important; }
	.pcs-navigation a span { font-size: 14px !important; }
	.pcs-navigation a { font-size: 10px !important; font-weight: bold; }
	.pcs-rounded .info .slots span { font-size: 18px; }
}

/* Single View */
.pcs-rounded { width: 100%; }
.pcs-rounded .info { float:left; width: 60% }
.pcs-rounded .pictures { float:right; width: 40% }

.pcs-rounded .info .slots { float:left }
.pcs-rounded .info .slots ul { float:left; padding: 7px 0 0 0;  }
.pcs-rounded .info .slots ul li {
	float:left;
	width: 15px;
	height: 15px;
	background: #DADADA;
	list-style: none;
	border-radius: 100%;
	margin-right: 5px;
}
.pcs-rounded .info .slots ul li.pcsponsor-taken { background: orange; }
.pcs-rounded .info .slots span { float: left; margin-left: 15px; font-size: 20px; color: #666;margin-bottom: 15px; }

.pcs-rounded .info h1 {
	float: left;
	clear: both;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 60px;
	line-height: 66px;
	font-weight: normal;
	margin: 0;
}
.pcs-rounded .info h3 {
	float: left;
	clear: both;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	font-style: italic;
	margin: 0
}
.pcs-rounded .info h4 {
	float: left;
	clear: both;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	margin: 20px 0 0 0;
}
.pcs-rounded .info p {
	float:left;
	color: orange;
	clear: both;
	margin-right: 30px;
	font-size: 14px;
}
.pcs-rounded .info p.pure-desc {
	font-size: 20px;
}

.pcs-rounded .pictures .control {
	width: 15%;
	float:left;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	padding-top: 95px;
}
.pcs-rounded .pictures .album {
	width: 70%;
	float:left;
	text-align: center
}
.pcs-rounded .pictures .album .rail {}
.pcs-rounded .pictures .album .rail .picture {
	border-radius: 100%;
	width: 265px;
	height: 265px;
	background-position: center;
	background-size: cover;
}
.pcs-rounded .pictures .album .controls {
	list-style: none;
	padding: 10px 0 0 0;
}
.pcs-rounded .pictures .album .controls li {
  display:inline-block;
  *display:inline; /*IE7*/
  *zoom:1; /*IE7*/
  background:gray;
  margin-right:5px;
	width: 15px;
	height: 15px;
	border-radius: 100%
}
.pcs-rounded .pictures .album .controls li.active {
	background-color: orange;
}
.pcsponsor-fund-form {
	margin-top: 30px;
}
.pcsponsor-fund-form select {
	float: left;
  width: 160px;
}
.pcsponsor-fund-form a.pure-button {
	font-size:12px;
	text-transform: uppercase;
	padding: 10px 15px;
	margin-top: 1px;
}

.pcs-navigation {
	float: left;
	clear:both;
	margin-top: 50px;
	width: 100%
}
.pcs-navigation .left { float:left }
.pcs-navigation .learn-more { float:right }
.pcs-navigation a {
	text-transform: uppercase;
	color: #999;
	font-size: 16px;
}
.pcs-navigation a span {
	color: orange;
	font-weight: bold;
	font-size: 25px;
}
	/* temporary hidden stuff */
	.pcs-rounded .pictures > .album .controls, .control a {
		display: none;
	}


/* Single View */
